/.conda
/.venv
/.vscode
/server/__pycache__
/proto/__pycache__
/.pytest_cache
InTheEnd.mp4
/images
/function-obsolates
/docs
/storage_local
filme.avi
/BigFS-v2-2
/storage_node_50051
/storage_node_50054
/storage_node_50053